<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <appSettings>
      <add key="xWebUrl" value="CHANGE_https://***server***/xweb/secure/netForumxml.asmx" />
      <add key="xWebUserName" value="CHANGE_xweb_test" />
      <add key="xWebUserPassword" value="CHANGE_xweb_password" />
    </appSettings>

</configuration>